{% extends "base.html.twig" %}

{% block title %}
    
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block top %}
    <!-- titre -->
        <div class="text-left">
            <img alt="bannière"
                src="{{ app.request.getBasePath()~'/banniere.jpg' }}" >
        </div>
        &nbsp;        
{% endblock %}
{% block body %}{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}{% endblock %}
